<div class="d-flex px-3 my-3">
  <div
    class="flex-fill px-4"
    style="width: 33%"
    *ngFor="let group of games; let iGroup = index"
  >
    <ul class="list-group list-group-flush text-dark bg-white">
      <li
        class="list-group-item list-group-item-action py-0 px-1 d-flex align-items-center schedule-list-element"
        [ngClass]="'custom-bg-' + preliminaryRound.colors[
          game.bigPointsA > game.bigPointsB ? game.teamA :
            game.bigPointsB > game.bigPointsA ? game.teamB : 'null']"
        *ngFor="let game of group.schedule; let i = index"
        (click)="openScoreModal(game, iGroup)"

      >
        <div class="mr-3" style="margin-left: 10px;">
          {{i+1 | number:'2.0'}}
        </div>

        <div class="flex-grow-1">
          <mdb-badge class="schedule-team-pill text-left" pill="true" [color]="preliminaryRound.colors[game.teamA]">
            <mdb-icon fas icon="user-friends" class="prefix"></mdb-icon>
            {{this.preliminaryRound.teamGroups[iGroup].teams[game.teamA].team.name}}
          </mdb-badge>
          -
          <mdb-badge class="schedule-team-pill text-right" pill="true" [color]="preliminaryRound.colors[game.teamB]">
            {{this.preliminaryRound.teamGroups[iGroup].teams[game.teamB].team.name}}
            <mdb-icon fas icon="user-friends" class="prefix"></mdb-icon>
          </mdb-badge>
          |
          <mdb-badge class="schedule-team-pill" style="margin-left: auto;" pill="true" [color]="preliminaryRound.colors[game.referee]">
            <mdb-icon fas icon="user" class="prefix"></mdb-icon>
            {{this.preliminaryRound.teamGroups[iGroup].teams[game.referee].team.name}}
          </mdb-badge>
        </div>

        <div class="text-right schedule-points">
          <div
            *ngFor="let points of game.game, let i = index"
            [class]="{'d-none': points.pointsA === 0 && points.pointsB === 0}"
          >
            <small>{{points.pointsA | number:'2.0'}}:{{points.pointsB | number:'2.0'}}</small>
          </div>
          <div class="border border-dark bg-light text-dark text-center" [class]="{'invisible': game.bigPointsA === 0 && game.bigPointsB === 0}">
              <small class="font-weight-bold">{{game.bigPointsA + ':' + game.bigPointsB}}</small>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>



<app-scoring-modal
  #scoringModal
  [modalData]="modalData"
  (onCloseModal)="onClose()"
></app-scoring-modal>

<!-- MODAL -->
<!-- <div mdbModal #scoringModal="mdbModal" (close)="onClose($event)" class="modal fade left text-dark" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Punkte eintragen</h4>
      </div>
      <div
        class="modal-body mx-3 text-center"
        *ngIf="selectedMatch !== null"
      >

        <div class="flex-grow-1">
          <mdb-badge class="schedule-team-pill" pill="true" [color]="preliminaryRound.colors[selectedMatch.teamA]">
            <mdb-icon fas icon="user-friends" class="prefix"></mdb-icon>
            {{this.preliminaryRound.teamGroups[iGroup].teams[selectedMatch.teamA].team.name}}
          </mdb-badge>
          -
          <mdb-badge class="schedule-team-pill" pill="true" [color]="preliminaryRound.colors[selectedMatch.teamB]">
            {{this.preliminaryRound.teamGroups[iGroup].teams[selectedMatch.teamB].team.name}}
            <mdb-icon fas icon="user-friends" class="prefix"></mdb-icon>
          </mdb-badge>
          |
          <mdb-badge class="schedule-team-pill" style="margin-left: auto;" pill="true" [color]="preliminaryRound.colors[selectedMatch.referee]">
            <mdb-icon fas icon="user" class="prefix"></mdb-icon>
            {{this.preliminaryRound.teamGroups[iGroup].teams[selectedMatch.referee].team.name}}
          </mdb-badge>
        </div>


        <div class="form-row mb-2 mt-2" *ngFor="let game of selectedMatch.game" >
          <div class="col">
            <input type="number" (click)="$event.target.select()" [(ngModel)]="game.pointsA" class="form-control" placeholder="">
          </div> :
          <div class="col">
            <input type="number" (click)="$event.target.select()" [(ngModel)]="game.pointsB" class="form-control" placeholder="">
          </div>
        </div>

      </div>
    </div>
  </div>
</div> -->

