<h1 class="text-center">Zusammenfassung der Einstellungen</h1>

<h2 class="text-center mt-4">Teams</h2>
<div class="d-flex px-3 my-3">
  <div
    class="flex-fill px-4"
    *ngFor="let group of ['A','B','C']; let iGroup = index"
  >
    <h4>Gruppe {{group}}</h4>
    <ul class="list-group list-group-flush text-dark">
      <li
        class="list-group-item"
        *ngFor="let team of teams | slice:iGroup*5:(iGroup*5)+5; let i = index"
      >
        <mdb-badge pill="true" [color]="preliminaryRound.colors[i]">{{group+(i+1)}}</mdb-badge> <span class="ml-2">{{team.name}}</span>
      </li>
    </ul>
  </div>
</div>


<h2 class="text-center mt-4">Spielmodus Vorrunde</h2>
<div class="alert alert-primary w-75 px-3 my-3" role="alert" style="margin-left: auto; margin-right: auto;">
  Spielmodus (Vorrunde):
  {{preliminaryRound.modeLabel[preliminaryRound.mode]}},
  Spielsätze: {{preliminaryRound.sets}},
  {{preliminaryRound.mode === 'byTime' ?
    'Spieldauer: ' + preliminaryRound.duration :
    'Satzlimit: ' + preliminaryRound.setLimit + (
      preliminaryRound.activeTwoPointsDifference ? ', mit 2 Punkten Unterschied' : ', ohne 2 Punkten Unterschied'
      )
  }}
</div>

<h2 class="text-center mt-4">Spielplan Vorrunde</h2>
<div class="d-flex justify-content-center">
  <ul class="list-group list-group-flush text-dark p-3 text-center">
    <li
      class="list-group-item d-flex"
      *ngFor="let game of preliminaryRound.schedule; let i = index"
    >
      <div class="mr-3">
        {{i+1 | number:'2.0'}}
      </div>

      <div>
        <mdb-badge style="pointer-events: none;" pill="true" [color]="preliminaryRound.colors[game.teamA]">
          <mdb-icon fas icon="user-friends" class="prefix"></mdb-icon>
          Team {{game.teamA +1}}
        </mdb-badge> -
        <mdb-badge style="pointer-events: none;" pill="true" [color]="preliminaryRound.colors[game.teamB]">
          Team {{game.teamB +1}}
          <mdb-icon fas icon="user-friends" class="prefix"></mdb-icon>
        </mdb-badge>
      </div>

      <div class="ml-4">|</div>

      <div class="ml-4">
        <mdb-badge
          pill="true"
          [color]="preliminaryRound.colors[game.referee]"
          style="pointer-events: none;"
        >
          <mdb-icon fas icon="user" class="prefix"></mdb-icon>
          Referee: {{game.referee +1}}
        </mdb-badge>
      </div>
    </li>
  </ul>
</div>




<div class="text-center my-4">
  <button type="button" mdbBtn color="secondary" mdbWavesEffect (click)="stepBack()">
    <mdb-icon fas icon="chevron-circle-left" class="mr-1"></mdb-icon>
    Zurück
  </button>
  <button type="button" mdbBtn color="success" mdbWavesEffect (click)="next()">
    Speichern & Starten
    <mdb-icon fas icon="chevron-circle-right" class="ml-1"></mdb-icon>
  </button>
</div>
